/* * * * * * * * *\
* Hello world! :D *
* * * * * * * * * *
* CSS designed by *
* Andrew Yaros :) *
\* * * * * * * * */

/* ===== */
/* FONTS */

@font-face {
    /* Tachyon */
    font-family: "tachyon";
    src: url("../fonts/Tachyon.otf")
}

@font-face {
    /* Computer Modern serif */
    font-family: "cmu";
    src: url("../fonts/cmunrm.otf");
    font-weight: normal;
}

@font-face {
    /* Continuum Light */
    font-family: "cont";
    src: url("../fonts/contl.ttf");
    font-weight: 200;
}

@font-face {
    /* Swiss 721 light - using as regular font */
    font-family: "721";
    src: url("../fonts/721light.otf");
    font-weight: normal;
}

@font-face {
    /* Swiss 721 bold */
    font-family: "721";
    src: url("../fonts/721bold.otf");
    font-weight: bold;
}

@font-face {
    /* Swiss 721 thin - using as lighter font */
    font-family: "721";
    src: url("../fonts/721thin.otf");
    font-weight: 200;
}

/* =================== */
/* GENERAL STYLE ITEMS */

:root {
    --edgePadding: 10vw; /* padding between content and edge */
    --titleTextShadow: #000000;
    --backgroundColor: #1e1e1e;
    --darkerColor: #181818;

    --buttonShadow: #000000;
    --buttonActive: #ff693c;
    --buttonActiveShadow: rgba(255, 105, 60, 0.15);
    --buttonHover: #ffffff;
    --buttonText: #ffffff;
    --buttonInverseText: #000000;
    --buttonTransitionTime: 375ms;

    --scrollbarWidth: 16px;

    --copyrighttext: #505050;


    /* firefox scrollbar color */
    scrollbar-color: #444444 var(--backgroundColor);
}

/* disable text selection */
* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;

    color: white;
    background-color: var(--darkerColor);

    background-image: url("../images/isopattern.png");
    background-repeat: repeat;
    background-attachment: fixed;

    font-family: "721", sans-serif;
    font-size: 12pt;
}

.fixedBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.buttonContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 10px;
}

.linkButton {
    color: var(--buttonText);
    text-decoration: none;
    font-family: "cont", sans-serif;
    text-transform: uppercase;
    font-size: 13pt;
    letter-spacing: 0.1em;

    display: inline-block;
    border: 0 solid transparent;
    background-color: var(--backgroundColor);
    text-align: center;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 15px;

    transition-duration: var(--buttonTransitionTime);
    cursor: pointer;

    /* if this is changed here, it must be changed in the mobile style in index.js */
    box-shadow: 0 5px 20px var(--buttonShadow);
}

.linkButton:hover {
    text-decoration: none;
    box-shadow: 0 1px 5px var(--buttonShadow);
    color: var(--buttonInverseText);
    background-color: var(--buttonHover);
}

.linkButton:active {
    box-shadow: inset 0 5px 10px var(--buttonShadow), 0 0 30px var(--buttonActiveShadow);
    color: var(--buttonInverseText);
    background-color: var(--buttonActive);
}

/* down arrow svg */
.downarrow { /* the svg tag */
    width: 13px;
    height: 13px;
    margin-bottom: 0;
    margin-right: 1.5px; /*when text shadow changes, give spacing to avoid the arrow changing position*/
}

.thearrow { /* the svg path */
    fill: var(--buttonText);
    stroke: var(--buttonText);

    transition-duration: var(--buttonTransitionTime);
}

.linkButton:hover .thearrow, .linkButton:active .thearrow {
    fill: var(--buttonInverseText);
    stroke: var(--buttonInverseText);
}

/* ================== */
/* CUSTOM SCROLL BARS */

::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

::-webkit-scrollbar-track {
    background-color: var(--backgroundColor);
    box-shadow: inset 0 0 8px #000000;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #444444;
    box-shadow: inset 0 -2.5px 6px #333333, inset 0 0 2px #000000;
}

/* ===================== */
/* TITLE AND DESCRIPTION */

/* contains two fixed position divs:
 * an inner div with another background image,
 * and a content div with the actual text
 *
 * content div has a higher z-index so title text always shows on top of the background
 * this is necessary because inner div is hidden to provide fading effect for transition;
 * I cant put the text inside the inner div or it will get hidden when the opacity is changed
 */
#titleBox {
    width: 100%;
    height: 100vh;

    /* slideshow transition property which I would use if firefox supported it */
    /* transition: background 1.5s ease-out;*/

    background-color: #2a2a2a;
}

/* absolute position element inside of the title box that contains another background image.
 * used because firefox does not support transitioning of the background image
 */
#titleBoxInner {
    z-index: 1;

    /* slideshow transition property */
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

/* like titleboxinner, but is above it and has the title text */
#titleContents {
    z-index: 99;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch; /* needs to be stretch; items inside need padding without having to be resized to 100% since this screws stuff up, so instead we stretch them using flexbox and then apply padding */
}

#titleBox, #titleBoxInner {
    box-shadow: inset 0 0 1vw rgba(0, 0, 0, 1);
}

#titleBoxInner, #titleContents {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* items inside the title flex container */
.titleItem {
    /* padding between items and edge  */
    padding: 0.5vh var(--edgePadding);
    /* for title and description text */
    text-shadow: 0 0.05vw 6vw var(--titleTextShadow), 0 0.1vw 3vw var(--titleTextShadow), 0 0.1vw 0.25vw var(--titleTextShadow);
}

/* contains a couple of title words */
#titleText {
    font-family: "tachyon", sans-serif;
    font-size: 5.5vw;
    letter-spacing: 1vw;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* last letters of each word in the title */
.lastLetter {
    letter-spacing: 0;
}

/* contains several description items */
#description {
    font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2.2vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* make the title text a column for portrait orientation */
@media only screen and (orientation: portrait) {
    #titleText {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 9vw;
    }

    #lastName {
        font-size: 12vw;
    }

    #description {
        flex-flow: column nowrap;
        
        line-height: 5vw;
        justify-content: center;
        align-items: center;
        padding-top: 3vh;
    }

    #description span {
        padding: 1vw 0;
    }
    
    #bs {
        font-size: 5vw;
    }
    
    #du {
        font-size: 5.65vw;
    }
    
    #cl {
        font-size: 5vw;
    }
}

/* ======================== */
/* MODULES FOR EACH PROJECT */

/* outer container for a module */
.module {
    padding: 4vh 0;
    margin: 0;
    /*background-color: var(--backgroundColor);*/
}

/* title text for a module */
.moduleTitle {
    font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: capitalize;
    font-size: 30pt;
    letter-spacing: 0;
    text-shadow: 0 2px 20px var(--titleTextShadow), 0 1px 3px var(--titleTextShadow);
    padding: 0 var(--edgePadding);
}

/* full width image for a module */
.moduleImage {
    width: 100%;
    height: 50vh;
    background-color: var(--darkerColor);
    margin: 24px 0;
    box-shadow: inset 0 0 5vw rgba(0, 0, 0, 0.75);
}

/* text box for a module */
.moduleText {
    line-height: 23pt;
    padding: 0 var(--edgePadding);
}

/* ====== */
/* FOOTER */

#footer {
    width: 100%;
    background-color: var(--darkerColor);
    padding: 3vh 0;
    text-align: center;
    box-shadow: 0 0 5px var(--darkerColor);
}

#footerLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
}


.footerLink {
    color: var(--buttonText);
    background-color: var(--darkerColor);
    font-family: "cont", serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;

    /* if this is changed here, it must be changed in the mobile style in index.js */
    box-shadow: 0 2px 10px var(--buttonShadow);

}

.footerLink:hover {
    color: var(--buttonInverseText);
    background-color: var(--buttonHover);
    box-shadow: 0 1px 5px var(--buttonShadow);
}

.footerLink:active {
    color: var(--buttonInverseText);
    background-color: var(--buttonActive);
    box-shadow: inset 0 5px 10px var(--buttonShadow), 0 0 20px var(--buttonActiveShadow);
}

#copyright {
    text-transform: uppercase;
    font-size: 9pt;
    padding: 10px 0;
    color: var(--copyrighttext);
    margin: 10px;
}

@media only screen and (max-width: 299px) {
    #copyright {
        font-size: 4vw;
    }

}