/*****************\
* Hello world! :D *
*******************
* CSS designed by *
* Andrew Yaros :) *
\*****************/

/* ===== */
/* FONTS */
@font-face {
	/* Title font */
	font-family: "title";
	src: url("../fonts/tachy.otf")
}

@font-face {
	/* Directive Four */
	font-family: "dir4";
	src: url("../fonts/dir4.ttf");
}

@font-face {
	/* Buttons */
	font-family: "buttonfont";
	src: url("../fonts/dinreg.otf");
}

@font-face {
	/* Regular body text font */
	font-family: "bodyfont";
	src: url("../fonts/dinreg.otf");
	font-weight: normal;
}

@font-face {
	/* Bold body text font */
	font-family: "bodyfont";
	src: url("../fonts/dinbold.otf");
	font-weight: bold;
}

@font-face {
	/* Light body text font */
	font-family: "bodyfont";
	src: url("../fonts/dinlight.otf");
	font-weight: 200;
}

/* =================== */
/* GENERAL STYLE ITEMS */
:root {
	color-scheme: dark;
	
	
	/*--backgroundColor: #121212;*/
	/*--darkerColor: rgba(0, 0, 0, .25);*/
	/*--mainBorder: 1px solid #c0d0e7;*/
	
	--backgroundColor: #14191D;
	--backgroundImage: url("../images/backgrounds/darkStripes.png");
	--backgroundAltImage: url("../images/backgrounds/bgColorDark.png");
	--alternateBGColor: #0E1114;
	
	/*--backgroundColor: #2D353B;*/
	/*--backgroundImage: url("../images/darkStripes.png");*/
	
	--pageText: #ddd;
	--titleTextShadow: #000000;
	--buttonColor: hsl(210 25% 25%);
	--copyrighttext: #505050;
	--borderColor: black;
	--scrollbarThumb: #384652;
	
	scrollbar-color: var(--scrollbarThumb) var(--backgroundColor); /* firefox scrollbar color */
	--buttonText: #ffffff;
	--buttonInverseText: #000000;
	--buttonActiveShadow: rgba(0, 0, 0, 0.5);
	--headerGradient: linear-gradient(to bottom, rgb(0,0,0,.125), transparent);
	--footerGradient: linear-gradient(to top, rgb(0,0,0,.5), transparent);
	
	/* older style */
	/*
	--buttonShadow: #000000;
	--buttonHover: #ffffff;
	--buttonActive: hsl(0 25% 75%);
	*/
	
	--mainBorder: 1px solid var(--borderColor);
	--buttonTransitionTime: 123ms;
	--buttonLetterSpacing: 0.03em;
	--scrollbarWidth: 16px;
	--marginWidth: 10vw;
	--footerMargin: 40px;
	
	/* padding between content and edge */
	--leftMargin: calc(env(safe-area-inset-left) + var(--marginWidth));
	--rightMargin: calc(env(safe-area-inset-right) + var(--marginWidth));
	/* transition for elements relying on vh
	changed by the main script when adjusting styles for mobile devices */
	--heightTransition: 0s;
	--elementTransitionProperty: padding var(--heightTransition) ease-in-out, padding-bottom var(--heightTransition) ease-in-out;

	--moduleImagePadWidth: 40px;
	--moduleImagePadTop: 25px;
	--moduleImagePadBottom: 50px;

	/* title box dims */
	--titleBoxWidth: 100%;
	/*--titleBoxHeight: 100vh;*/
	--titleBoxHeight: 100px;
	
	--lisaguiShadow: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--backgroundColor: #C5CCD4;
		--backgroundImage: url("../images/backgrounds/lightStripes.png");
		--backgroundAltImage: url("../images/backgrounds/bgColorLight.png");
		/*--alternateBGColor: white;*/
		--alternateBGColor: #DCE1E6;
		
		--pageText: #222;
		--titleTextShadow: rgb(0, 0, 0, .125);
		--buttonColor: hsl(210 100% 40%);
		--copyrighttext: #999;
		--scrollbarThumb: #a3aeb9;
		--borderColor: #ACACAC;
		--headerGradient: linear-gradient(to top, rgb(0,0,0,.1), transparent);
		--footerGradient: linear-gradient(to top, rgb(0,0,0,.1), transparent);
		
		--lisaguiShadow: inset 0 0 1vw rgba(0, 0, 0, 0.75);
	}
}

@keyframes loopingColorShift {
	0% {
		filter: hue-rotate(0deg) saturate(100%);
	}

	50% {
		filter: hue-rotate(180deg) saturate(100%);
	}

	100% {
		filter: hue-rotate(360deg) saturate(100%);
	}
}

/* disable text selection */
* {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

html {
	background: var(--backgroundAltImage) 256px, var(--alternateBGColor) !important;
	image-rendering: pixelated;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: var(--pageText);
	background: var(--backgroundImage) 42px fixed, var(--backgroundColor) !important;
	image-rendering: pixelated;
	font-family: "Lucida Grande", 'Helvetica', 'Helvetica Neue', "Arial", "Verdana", sans-serif;
	font-weight: normal;
	font-size: 10pt;
	text-wrap: pretty!important;
}

.fixedBackground {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.buttonContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-top: 10px;
}

.opaqueButton, .clearButton {
	animation: loopingColorShift infinite 60s linear !important;
}

.opaqueButton {
	background-color: var(--buttonColor);
	transition-duration: var(--buttonTransitionTime);
	transition-timing-function: linear;
}

.opaqueButton:active {
	text-shadow: 0 0 .75em var(--buttonText) !important;
}

.linkButton {
	text-decoration: none;
	font-family: "buttonfont", sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	letter-spacing: var(--buttonLetterSpacing);
	text-align: center;
	border-radius: 20px;
	padding: 10px 15px;
	margin: 15px;
	cursor: pointer;
}


/* ================== */
/* CUSTOM SCROLL BARS */
::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}

::-webkit-scrollbar-track {
	background-color: var(--backgroundColor);
	box-shadow: inset 0 0 8px rgb(0, 0, 0, .25);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: var(--scrollbarThumb);
	box-shadow: inset 0 -2.5px 6px rgb(0, 0, 0, .5), inset 0 0 2px rgb(0,0,0,.7);
}

/* ===================== */
/* TITLE AND DESCRIPTION */
/* contains two fixed position divs:
 * an inner div with another background image,
 * and a content div with the actual text
 *
 * content div has a higher z-index so title text always shows on top of the background
 * this is necessary because inner div is hidden to provide fading effect for transition;
 * I cant put the text inside the inner div or it will get hidden when the opacity is changed
 */
#titleBox {
	color: white;
	width: var(--titleBoxWidth);
	height: var(--titleBoxHeight);
	transition: height var(--heightTransition) ease-in-out;
	/* slideshow transition property which I would use if firefox supported it */
	/* transition: background 1.5s ease-out;*/
	background-color: #2a2a2a;
	border-bottom: var(--mainBorder);
	pointer-events: none;
}

#titleBoxInner, #titleContents {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--titleBoxWidth);
	height: var(--titleBoxHeight);
	transition: height var(--heightTransition) ease-in-out;
}

/* absolute position element inside of the title box that contains another background image.
* used because firefox does not support transitioning of the background image
*/
#titleBoxInner {
	z-index: 2;
	/* slideshow transition property */
	opacity: 0;
	transition: opacity 10s linear;
}

/* like titleboxinner, but is above it and has the title text */
#titleContents {
	z-index: 99;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch; /* needs to be stretch; items inside need padding without having to be resized to 100% since this screws stuff up, so instead we stretch them using flexbox and then apply padding */
}

#titleBox, #titleBoxInner {
	box-shadow: inset 0 0 1vw rgba(0, 0, 0, 1);
}

/* items inside the title flex container */

script {
	display: none !important;
	visibility: hidden !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
}

.titleItem {
	/* padding between items and edge  */
	padding: 0.5vh var(--rightMargin) 0.5vh var(--leftMargin);
	transition: var(--elementTransitionProperty);
	/* for title and description text */
	text-shadow: 0 0.05vw 6vw var(--titleTextShadow), 0 0.1vw 3vw var(--titleTextShadow), 0 0.1vw 0.5vw var(--titleTextShadow);
	padding-top: .25em;
}

/* contains title words */
#titleText {
	font-family: "title", sans-serif;
	font-size: 44px;
	letter-spacing: 1vw;
	text-transform: uppercase;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

/* last letters of each word in the title */
.lastLetter {
	letter-spacing: 0;
}

#titleText > span:last-of-type {
	margin-left: 1em;
}


#headerLinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: var(--alternateBGColor);
	border-bottom: var(--mainBorder);
	padding: 10px;
	
	background-image: var(--headerGradient);
}

#headerLinks > * {
	margin: 10px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: white;
}

#headerLinks a span {
	display: block;
	position: relative;
	z-index: 100;
	user-select: none!important;
}

/* contains several description items */
#description {
	font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2.2vw;
	letter-spacing: 0.1vw;
	text-transform: uppercase;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

/* make the title text a column for portrait orientation */
/* screw it, always use portrait style... make that title big and bold, baby! */
@media (orientation: portrait), (max-width: 750px) /* and (max-height: 360px)*/ {
	.titleItem {
		padding-top: .5em;
	}

	#titleText {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		/*font-size: 9vw;*/
		font-size: 27px;
	}

	#lastName {
		/*font-size: 12vw; */
		font-size: 36px;
	}

	#titleText > span:last-of-type {
		margin-left: unset !important;
	}

	#description {
		flex-flow: column nowrap;
		line-height: 5vw;
		justify-content: center;
		align-items: center;
		padding-top: 3vh;
		transition: var(--elementTransitionProperty);
	}

	#description span {
		padding: 1vw 0;
	}

	#bs {
		font-size: 5vw;
	}

	#du {
		font-size: 5.65vw;
	}

	#cl {
		font-size: 5vw;
	}

	.fixedBackground {
		background-attachment: unset !important;
	}

}

/* ======================== */
/* MODULES FOR EACH PROJECT */
/* outer container for a module */
.module {
	padding: 4vh 0;
	transition: var(--elementTransitionProperty);
	margin: 0;
}

/* title text for a module */
.moduleTitle {
	font-family: "bodyfont", sans-serif;
	font-weight: bold;
	letter-spacing: .02em;
	text-transform: none;
	font-size: 24pt;
	text-shadow: 0 2px 20px var(--titleTextShadow), 0 1px 3px var(--titleTextShadow);
	padding: 0 var(--rightMargin) 0 var(--leftMargin);
}

/* full width image for a module */
.moduleImage {
	height: 500px;
	/*transition: height var(--heightTransition) ease-in-out;*/
	background-color: var(--alternateBGColor);
	margin: calc(var(--moduleImagePadTop) + env(safe-area-inset-top)) calc(var(--moduleImagePadWidth) + env(safe-area-inset-right)) calc(var(--moduleImagePadBottom) + env(safe-area-inset-bottom)) calc(var(--moduleImagePadWidth) + env(safe-area-inset-left));
	border-radius: 30px;
	box-shadow: inset 0 0 5vw rgba(0, 0, 0, 0.75);
	border: var(--mainBorder);
}

/* text box for a module */
.moduleText {
	line-height: 1.8em;
	padding: 0 var(--rightMargin) 0 var(--leftMargin);
	margin: auto;
	max-width: 512px;
}

.moduleText p {
	margin-bottom: 2em;
}

.moduleText p:last-of-type {
	margin-bottom: 1em;
}

@media (max-width: 640px) {
	.moduleImage {
		border-radius: 0;
		margin-left: 0;
		margin-right: 0;
		border-left: none;
		border-right: none;
	}
}

@media (max-width: 500px) {
	.moduleImage {
		height: 100vw !important;
	}
}

@media (max-height: 820px) {
	.moduleImage {
		height: 400px;
	}
}

@media (max-height: 660px) {
	.moduleImage {
		height: 300px;
	}
}

@media (max-height: 500px) {
	.moduleImage {
		height: 200px;
	}
}

@media (min-height: 2000px) {
	.moduleImage {
		height: 768px;
	}
}

/* ====== */
/* FOOTER */
#footer {
	width: 100%;
	background-color: var(--alternateBGColor);
	padding: 3vh 0;
	transition: var(--elementTransitionProperty);
	text-align: center;
	box-shadow: 0 0 5px rgb(0,0,0,.125);
	background-image: var(--footerGradient);
	border-top: var(--mainBorder);
}

#footer > * {
	margin: calc(var(--footerMargin) + env(safe-area-inset-right)) calc(var(--footerMargin) + env(safe-area-inset-left));
}

#footerLinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-bottom: 10px;
}

.footerLink {
	font-family: "buttonfont", serif;
	letter-spacing: var(--buttonLetterSpacing);
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;

	display: flex;
	justify-content: center!important;
	align-items: center!important;
	min-width: 50px;
	min-height: 50px;
	
	transition-duration: var(--buttonTransitionTime);
}

.footerLink img {
	height: 32px!important;
}

#copyright {
	text-transform: uppercase;
	font-size: 9pt;
	padding: 10px 0;
	color: var(--copyrighttext);
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 299px) {
	:root {
		--footerMargin: 10px;
	}
	
	#titleText {
		font-size: 11vw!important;
	}
	
	#lastName {
		font-size: 15vw;
	}
	
	.moduleTitle {
		font-size: 10vw;
	}
	
	#copyright {
		font-size: 4vw;
	}
	
	.footerLink {
		min-width: 30px;
	}
	
	.footerLink img {
		height: 20px!important;
	}
	
	.linkButton {
		font-size: 6.5vw;
		line-height: 1.25em;
	}
}

@keyframes animatedScreen {
	0% {
		filter: hue-rotate(0deg) saturate(100%);
	}

	50% {
		filter: hue-rotate(83deg) saturate(200%);
	}
	100% {
		filter: hue-rotate(0deg) saturate(100%);
	}
}

#lisaGUI {
	box-shadow: var(--lisaguiShadow);
	animation: animatedScreen infinite 30s ease-in-out !important;
}

@media (min-width: 1500px) {
	:root {
		--moduleImagePadBottom: 3vw;
		--titleBoxHeight: max(100px, 5vw);
	}
	
	#titleText {
		font-size: max(2.5vw, 44px);
	}
	
	.moduleTitle {
		font-size: 2vw;
	}

	.moduleText {
		max-width: 50vw;
		font-size: 1vw;
	}

	.linkButton, .footerLink {
		font-size: 1vw;
		border-radius: 1.5vw;
		padding: .75vw 1vw;
		margin: 1vw;
	}

	.footerLink {
		min-width: 3vw;
		min-height: 3vw;
	}

	.footerLink img {
		height: 2vw!important;
	}
}

/* aqua buttons */

.aqua, .aqua * {
	user-select: none!important;
	cursor: pointer;
	image-rendering: smooth;
}

.aqua * {
	pointer-events: none;
}

.aqua, .aqua:hover {
	--mainButtonShadow: 0 .125em .125em rgb(0, 0, 0, .2);
	
	color: var(--buttonText);
	text-shadow: 0 1px black;
	background-image: linear-gradient(to bottom, hsl(215 0% 27% / 5%), hsl(203 100% 80% / 5%) 100%);
	/*box-shadow: 0 -5px 7px hsl(215 0% 40% / 40%) inset, 0 -1px 3px hsl(0 0% 0% / 40%) inset, var(--mainButtonShadow);*/
	box-shadow:
			0 -5px 10px hsl(215 0% 0% / 10%) inset,
			0 -1px 3px hsl(0 0% 0% / 40%) inset,
			var(--mainButtonShadow)
	;
	overflow: hidden;
	
	transform-origin: center;
	
	/* required */
	position: relative;
}

.clearButton, .clearButton:hover {
	box-shadow:
			0 -.2em .2em hsl(215 0% 12% / 40%)
			inset, 0 -1px 3px hsl(0 0% 0% / 40%) inset,
			var(--mainButtonShadow)
	;
}

@media (prefers-color-scheme: light) {

	.clearButton, .clearButton:hover {
		background-color: hsl(210 20% 60% / 70%);
		box-shadow:
				0 -.2em .2em hsl(215 0% 40% / 20%) inset,
				0 -1px 1px hsl(0 0% 0% / 30%) inset,
				var(--mainButtonShadow)
		;
	}
	
	.clearButton::before  {
		background-image: linear-gradient(to bottom, hsl(0 0% 100% / 100%) 50%, hsl(0 0% 100% / 20%) 100%);
	}
	
	.clearButton > img {
		filter: invert(1) !important;
	}
	
	#headerLinks > * {
		color: black;
		text-shadow: none;
	}
}

.aqua::before {
	/* required */
	position: absolute;
	
	content: '';
	background-image: linear-gradient(to bottom, hsl(0 0% 100% / 50%) 50%, hsl(0 0% 100% / 7%) 100%);
	
	border-radius: 100%;
	
	--offset: 20%;
	
	height: 100%;
	bottom: 40%;
	width: calc(100% + (2 * var(--offset)));
	left: calc(-1 * var(--offset));
}

.aqua:active > *, .highlightedAqua * {
	filter: drop-shadow(0 0 .5em var(--buttonText)) !important;
}

.aqua:active, .highlightedAqua {
	background-image: linear-gradient(to bottom, hsl(215 100% 27% / 95%), hsl(203 100% 80% / 95%) 100%) !important;
	box-shadow:
			0 -5px 7px hsl(215 100% 40% / 40%) inset,
			0 -1px 3px hsl(0 0% 0% / 40%) inset,
			var(--mainButtonShadow) !important
	;
}


@keyframes slideshowOuter {
	0% { background-image: url('../images/slides/lancaster.jpg'); }
	12.5% { background-image: url('../images/slides/shell.jpg'); }
	37.5% { background-image: url('../images/slides/station.jpg'); }
	62.5% { background-image: url('../images/slides/bshroom-l2.jpg'); }
	
	87.5% { background-image: url('../images/slides/lancaster.jpg'); }
	100% { background-image: url('../images/slides/lancaster.jpg'); }
}

@keyframes slideshowInner {
	0% {
		opacity: 0;
		background-image: url('../images/slides/RRatrium.jpg');
	}
	
	12.5% {
		opacity: 1;
	}
	
	25% {
		opacity: 0;
		background-image: url('../images/slides/RRatrium.jpg');
	}
	
	/* next */
	
	25.1% {
		opacity: 0;
		background-image: url('../images/slides/stanford.jpg');
	}
	
	37.5% {
		opacity: 1;
	}
	
	50% {
		opacity: 0;
		background-image: url('../images/slides/stanford.jpg');
	}
	
	/* next */
	
	50.1% {
		opacity: 0;
		background-image: url('../images/slides/wefa.jpg');
	}
	
	
	62.5% {
		opacity: 1;
	}
	
	75% {
		opacity: 0;
		background-image: url('../images/slides/wefa.jpg');
	}
	
	/* next */
	
	75.1% {
		opacity: 0;
		background-image: url('../images/slides/gropius.jpg');
	}
	
	
	87.5% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		background-image: url('../images/slides/gropius.jpg');
	}
	
}

.slideshow {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slideshowOuter {
	animation: slideshowOuter infinite 80s step-end;
}

.slideshowInner {
	animation: slideshowInner infinite 80s linear;
}
